.footer {
    background-image: url("./footer.jpg");
    background-size: 100% 350%;
    background-position-y: -500%;
    padding: 50px 0;

    text-align: center;
    color: #ffffff;
}

.title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.item {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
}